@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

.border-md {
  @apply rounded-md border border-border;
}
.border-n {
  @apply rounded border border-border;
}
.contain {
  @apply flex-1 mt-[70px] grid p-4 place-items-center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #efefef;
}
